<!-- Author: Christopther Rico Date: 11/19/2017 -->

<!doctype html>
<html>
<head>
	<title>The Tropical Fishes Burning Man Camp!</title>
	<link rel="stylesheet" href="/css/carousel.css" media="screen">
	<link rel="stylesheet" href="/css/artDiv.css" media="screen">
	<link rel="stylesheet" href="/css/table.css" 	media="screen">
	<link rel="stylesheet" href="/css/navbar.css" 	media="screen">
	<script src="/js/carousel.js"></script>
</head>
<body>
	<h1><center>)'( )'( )'(  The Tropical Fishes Burning Man Camp!  )'( )'( )'(</center></h1>

	<ul class="navbar">
	  <li><a href="/">Home</a></li>
	  <li><a href="/artProjects">Art Projects</a></li>
	  <li><a href="/roster">Camp Roster</a></li>
	  <li><a href="/burnerResources">Burner Resources</a></li>
	</ul>


	{{{body}}}
</body>
</html>