<!-- Author: Christopther Rico Date: 11/19/2017 -->

<h3> Art Projects </h3>
<h4> What do the Tropical Fishes contribute to the playa? Find out here! </h4>
<br><br>

<div class="displayBox">
	<img src="/photos/miracle.jpg"><br>

	<h4><center>The Miracle</center></h4><br>
	Blah blah blah, we took a bus and glued a bunch of old wood to it then hard welded a deck to the top. Then we made a mast to mount a canoe on top of. Then we made a wizard spire for a DJ booth. Best art car evar.<br><br>
</div>

<div class="displayBox">
	<img src="/photos/stoop.jpg"><br>

	<h4><center>The Stoop</center></h4><br>
	So we all wanted a big place to watch the sunset on. We figured the best way to do that was a massive set of front steps! Best part is that the Miracle has a plank that docks to the top step of the stoop. Good times.<br><br>
</div>

<div class="displayBox">
	<img src="/photos/fishbowl2.jpg"><br>

	<h4><center>The Fishbowl</center></h4><br>
	Domes are dope. Where else are you going to go when you want to snuggle with a pile of massive teddy bears, or hang in a hammock with your best friends? The Fishbowl, obviously.<br><br>
</div>
