<!-- Author: Christopther Rico Date: 11/19/2017 -->

<h3> Burner Resources </h3>
<h4> So you're a Burgin and want to know what it takes to make it at Burning Man. No problem! </h4>
<br>

<ul>
	<li><a href="https://burningman.org/">Burning Man Org</a>. 
		These guys are the hard-working, dusty volunteers who make the Burn a reality for us!</li>
	<li><a href="/pdf/BMSG17.pdf" target="_blank" rel="noopener">Survival Guide</a>. 
		Whatever you do, don't go to the playa without reading the survival guide. It's vital information on how to not die out in the dust.</li>
	<li><a href="https://eplaya.burningman.org/">ePlaya.</a> 
		These are the BM message boards where you can read up on everything from Burner culture to the progress on playa cleanup.</li>
</ul>