<!-- Author: Christopther Rico Date: 11/19/2017 -->

<h3> Camp Roster </h3>
<h4> Want to know who the Tropical Fishes are? Find out here! </h4>
<br><br>

<div id='scrollarea-invalid'>
<div id='scrollarea-content'>
<table class="minimalistBlack">
	<thead>
		<tr>
			<th><strong>Name</strong></th>
			<th><strong>Playa Name</strong></th>
			<th><strong>Projects</strong></th>
			<th><strong>Years with camp</strong></th>
			<th><strong>Default world location</strong></th>
		</tr>
	<tbody>
		<tr>
			<td>Chris&nbsp;</td>
			<td>Chre</td>
			<td>PlayaTech Furniture</td>
			<td>2012-2016</td>
			<td>&nbsp;Sacramento, CA</td>
		</tr>
		<tr>
			<td>Lee&nbsp;</td>
			<td>Le</td>
			<td>PlayaTech Furniture</td>
			<td>2011-2016</td>
			<td>Sacramento, CA&nbsp;</td>
		</tr>
		<tr>
			<td>Jasmine&nbsp;</td>
			<td>Jazzy</td>
			<td>Miracle</td>
			<td>2011-2016</td>
			<td>Santa Cruz, CA&nbsp;</td>
		</tr>
		<tr>
			<td>Simon&nbsp;</td>
			<td>Seemon</td>
			<td>Fishbowl</td>
			<td>2013-2016</td>
			<td>San Francisco, CA&nbsp;</td>
		</tr>
		<tr>
			<td>Nichole&nbsp;</td>
			<td>Coliebear</td>
			<td>Miracle</td>
			<td>2013-2016</td>
			<td>San Francisco, CA </td>
		</tr>
		<tr>
			<td>Austin&nbsp;</td>
			<td>Drogo</td>
			<td>Trop Fishes sign</td>
			<td>2014-2016</td>
			<td>Capitola, CA</td>
		</tr>
		<tr>
			<td>Hailey&nbsp;</td>
			<td>Khaleesi</td>
			<td>Trop Fishes sign&nbsp;</td>
			<td>2014-2016</td>
			<td>&nbsp;Capitola, CA</td>
		</tr>
		<tr>
			<td>Emily</td>
			<td>Velvet</td>
			<td>TeaPee&nbsp;</td>
			<td>2013-2016</td>
			<td>&nbsp;Sacramento, CA</td>
		</tr>
		<tr>
			<td>Quillan</td>
			<td>Quilber</td>
			<td>&nbsp;Miracle</td>
			<td>&nbsp;2013-2016</td>
			<td>Santa Cruz, CA&nbsp;</td>
		</tr>
	</tbody>
</table>
</div>
</div>