<!-- Author: Christopther Rico Date: 11/19/2017 -->

<!doctype html>
<html>
<head>
	<title>Your Workout Tracker!</title>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
</head>
	{{{body}}}
</body>
</html>
